
@model IEnumerable<CafeRestaurant_.Models.Contact2>
@foreach (var item in Model)
{
	<ul class="m-b-70">
		<li class="txt14 m-b-14">
			<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
			@item.Address
		</li>

		<li class="txt14 m-b-14">
			<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
			(+371) @item.Phone
		</li>

		<li class="txt14 m-b-14">
			<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
			@item.Email
		</li>
	</ul>
}